body {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: 400;
}
div {
    width: 100%;
}
.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,1) !important;
}
.steps-progress {
    height: 5px;
    font-size: 1rem;
    background-color: #5d5d5d;
}
.btn {
    height: 52px;
}
.btn-primary {
    color: #fff;
    background-color: #fe7b10;
    border-color: #fe7b10;
    border-radius: 5px;
    padding: 0.85rem 2rem;
    font-size: 0.875rem;
    font-weight: 500;
    text-transform: uppercase;
}
.btn-primary:hover {
    color: #fff;
    background-color: #d95700;
    border-color: #d95700;
}
.btn-primary:focus {
    color: #fff;
    background-color: #d95700;
    border-color: #d95700;
    box-shadow: 0 0 0 0.25rem #FFC396;
}
.btn-primary:active {
    color: #fff;
    background-color: #fe7b10;
    border-color: #fe7b10;
    box-shadow: 0 0 0 0.25rem #FFC396;
}
.btn-with-icon {
    display: flex;
    align-items: center;
    line-height: initial;
}
.btn-icon {
    font-size: 22px;
    margin-right: 0.25rem;
}
.btn-primary.disabled, .btn-primary:disabled {
    color: #fff;
    background-color: #FFAC71;
    border-color: #FFAC71;
}
.btn-back-link {
    color: #5d5d5d;
    background-color: transparent;
    border-color: transparent;
    border-radius: 5px;
    padding: 0.85rem 2rem;
    font-size: 0.875rem;
    font-weight: 500;
    text-transform: uppercase;
}
.btn-group-flex-left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.sticky-buttons-shift-to-small>.btn {
    margin: 0.5rem;
}
.form-check-input:checked {
    background-color: #019d9d;
    border-color: #019d9d;
}
.form-check-input:focus {
    box-shadow: 0 0 0 0.25rem #b2e0dc;
}
.margin-b-1 {
    margin-bottom: 1rem !important;
}
.hidden-for-all {
    display: none !important;
}
.visible-for-all {
    display: inherit !important;
}
.form-div-display {
    box-shadow: rgb(0 0 0 / 5%) 0px 6px 24px 0px, rgb(0 0 0 / 8%) 0px 0px 0px 1px;
    border-radius: 8px;
}
.main-container-canvas {
    min-height: 40rem;
}
div#main-canvas-body {
    padding-bottom: 2rem;
}
div#main-canvas-footer {
    background: #fff;
    position: sticky;
    left: 0;
    bottom: 0;
    border-top: 1px solid #dadada;
    box-shadow: rgb(0 0 0 / 6%) 0px 2px 4px 0px inset;
}
.sticky-action-bar-bottom-container {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
.accordion-item {
    box-shadow: rgb(0 0 0 / 10%) 0px 1px 2px 0px;
}
.accordion-body {
    padding: 1rem 1.25rem;
}
.accordion-button:not(.collapsed) {
  color: #f26b00;
  background-color: #ffecdd;
}
.accordion-button::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%233a3a3a' width='32px' height='32px'%3e%3cpath d='M0 0h24v24H0z' fill='none'/%3e %3e%3cpath d='M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z'/%3e%3c/svg%3e");
    background-size: 2rem;
    background-position: 50%;
}
.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23fe7b10' width='32px' height='32px'%3e%3cpath d='M0 0h24v24H0z' fill='none'/%3e %3e%3cpath d='M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z'/%3e%3c/svg%3e");
    background-size: 2rem;
    background-position: 50%;
}
input#floatingInput {
    background: #F9F9F9;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #f26b00;
    padding-right: calc(1.5em + 0.75rem);
}
.form-control:disabled, .form-control[readonly] {
    background-color: #dadada !important;
    opacity: 1;
}
.form-floating>label {
    color: rgba(0,0,0,.6);
}
.card.image-picker {
    box-shadow: rgb(0 0 0 / 16%) 0px 1px 4px;
    border-radius: 8px;
    background-color: #fff;
    border: none;
}
.image-picker-placeholder {
    height: 150px;
}
@media (max-width: 420px) {
    h3#page_title_text {
        font-size: calc(1rem + .6vw) !important;
    }
}
@media (max-width: 464px) {
    .sticky-buttons-shift-to-small {
        flex-flow: column-reverse;
    }
    a#back_button {
        padding: 0;
        height: auto;
    }
    div#sticky-back-button {
        padding-bottom: 0 !important;
    }
    .sticky-action-bar-bottom-container {
      padding-top: 1.5rem !important;
      padding-bottom: 1rem !important;
    }
}
@media (min-width: 768px) {
    .page_title_hdr {
        flex-flow: row !important;
        align-items: center !important;
    }
}
@media (max-width: 992px) {
    .steps_title_large {
        display: none !important;
    }
    .steps_title_small {
        display: block !important;
    }
    .cta_row_large {
        display: none !important;
    }
    .cta_row_small {
        display: block !important;
    }
}
@media (min-width: 992px) {
    .visible-for-large {
        display: block !important;
    }
    .hidden-for-large {
        display: none !important;
    }
}
