div {
    width: initial;
}
.btn {
    height: auto;
}
.btn-with-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: initial;
}
.btn-icon-left {
    font-size: 22px;
    margin-right: 0.25rem;
}
.btn-not-allowed {
    cursor: not-allowed;
}
.btn-primary-outlined {
    color: #fe7b10;
    background-color: #fff7f1;
    border: 1px solid;
    border-color: #fe7b10;
    border-radius: 8px;
    padding: 0.875rem 1.75rem;
    font-size: 0.875rem;
    font-weight: 500;
    text-transform: uppercase;
}
.btn-primary-outlined:hover {
    color: #f26b00;
    background-color: #FFECDD;
    border-color: #d95700;
    box-shadow: rgb(0 0 0 / 4%) 0px 3px 5px;
}
.btn-primary-outlined:focus {
    color: #f26b00;
    background-color: #FFECDD;
    border-color: #d95700;
    box-shadow: 0 0 0 0.25rem #FFC396;
}
.btn-primary-outlined:active {
    color: #f26b00;
    background-color: #FFECDD;
    border-color: #d95700;
    box-shadow: 0 0 0 0.25rem #FFC396;
}
