// First override some or all individual color variables
$primary: #25408f;

// Then add them to your custom theme-colors map, together with any additional colors you might need
$theme-colors: (
  primary: $primary
  // add any additional color below
);
