// modify any default color variables
$primary: #25408f;

// load the _variables.scss file
@import "variables";

// add any custom colors by creating your own map and merging with the (now-defined) $theme-colors map
// Create your own map
$custom-colors: (
    "current_orange": #fe7b10
);

// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);
