body {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: 400;
}
.primary-navbar {
    background-color: #fe7b10 !important;
}
.primary-navbar .nav-link {
    color: #fff;
}
.primary-navbar .nav-link.disabled {
    opacity: 0.65;
}
.btn-avatar-menu {
    background: #fff;
    color: #303030;
    border-radius: 20px;
    padding: 0.5rem 0.75rem;
    display: flex;
    align-items: center;
    width: auto;
    font-weight: 900; 
}
.bg-dark {
    background-color: #242424 !important;
}
.fw-500 {
    font-weight: 500 !important;
}
@media (max-width: 420px) {
    h3#page_title_text {
        font-size: calc(1rem + .6vw) !important;
    }
}
@media (max-width: 767px) {
    #page_title_text {
        text-align: left !important;
    }
}
