body {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: 400;
}
.primary-navbar {
    background-color: #fe7b10 !important;
}
.primary-navbar .navbar-nav .nav-link {
    color: #fff !important;
}
.bg-dark {
    background-color: #242424 !important;
}
@media (max-width: 420px) {
    h3#page_title_text {
        font-size: calc(1rem + .6vw) !important;
    }
}
@media (max-width: 767px) {
    #page_title_text {
        text-align: left !important;
    }
}
