body {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: 400;
}
.primary-navbar {
    background-color: #fe7b10 !important;
}
.primary-navbar .nav-link {
    color: #fff;
}
.primary-navbar .nav-link.disabled {
    opacity: 0.65;
}
.btn-avatar-menu {
    background-color: #fff;
    color: #303030;
    border-radius: 40px;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    width: auto;
    font-weight: 900;
    border: 0;
    font-size: 1.125rem;
}
.btn-avatar-menu:hover {
    background-color: #dadada
    color: #1d1d1d;
}
.btn-avatar-menu>.btn-icon-right {
    font-size: 24px !important;
}
.bg-dark {
    background-color: #242424 !important;
}
.fw-500 {
    font-weight: 500 !important;
}

.accordion-item {
    box-shadow: rgb(0 0 0 / 10%) 0px 1px 2px 0px;
}
.accordion-body {
    padding: 1rem 1.25rem;
}
.accordion-button:not(.collapsed) {
  color: #f26b00;
  background-color: #ffecdd;
}
.accordion-button::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%233a3a3a' width='32px' height='32px'%3e%3cpath d='M0 0h24v24H0z' fill='none'/%3e %3e%3cpath d='M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z'/%3e%3c/svg%3e");
    background-size: 2rem;
    background-position: 50%;
}
.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23fe7b10' width='32px' height='32px'%3e%3cpath d='M0 0h24v24H0z' fill='none'/%3e %3e%3cpath d='M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z'/%3e%3c/svg%3e");
    background-size: 2rem;
    background-position: 50%;
}

@media (max-width: 420px) {
    h3#page_title_text {
        font-size: calc(1rem + .6vw) !important;
    }
}
@media (max-width: 767px) {
    #page_title_text {
        text-align: left !important;
    }
    .visible-for-md {
        display: block !important;
    }
    .hidden-for-md {
        display: none !important;
    }
    .primary-navbar {
        background-color: #242424 !important;
    }
}
@media (min-width: 992px) {
    .visible-for-large {
        display: block !important;
    }
    .hidden-for-large {
        display: none !important;
    }
}
