.bg-light-color {
    background-color: #fafafa;
}
.content-block {
    margin-top: 2rem;
    box-shadow: rgb(0 0 0 / 8%) 0px 4px 12px;
    padding-top: calc(var(--bs-gutter-x) * .5);
    padding-bottom: calc(var(--bs-gutter-x) * .5);
    background-color: #fff;
    border-radius: 8px;
}
.content-header {
    font-weight: 600;
    margin-bottom: 1rem;
    color: #3a3a3a;
    letter-spacing: 0.35px;
}
.content-label {
    text-transform: uppercase;
    font-size: 0.875rem;
    font-weight: 500;
    color: #81909a;
    margin-bottom: 0;
}
