.bg-light-color {
    background-color: #fafafa;
}
.page-header-text {
    font-weight: 600;
    color: #3a3a3a;
    letter-spacing: 0.35px;
    margin: 1.5rem 0;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    flex-flow: column;
    align-items: flex-start;
}
.content-block {
    margin-top: 2rem;
    box-shadow: rgb(0 0 0 / 8%) 0px 4px 12px;
    padding: 1rem 0;
    background-color: #fff;
    border-radius: 8px;
}
.content-header {
    font-weight: 600;
    margin-bottom: 1rem;
    color: #3a3a3a;
    letter-spacing: 0.35px;
}
.content-label {
    text-transform: uppercase;
    font-size: 0.875rem;
    font-weight: 500;
    color: #81909a;
    margin-bottom: 0;
    margin-top: 0.5rem;
}
.content-label-details {
    margin-bottom: 0;
    font-weight: 400;
    font-size: 0.9375rem;
}
.content-label-details-note {
    color: #898989;
    font-size: 0.75rem;
    font-weight: 300;
    margin-bottom: 0.5rem;
}
p.content-label-details.text-danger {
    font-weight: 500;
}
.inner-content-separator {
    margin-top: 1.5rem;
    border-top: 2px solid #efefef;
    padding-top: 1.5rem;
}
.arrow-forward-wrapper {
    margin: 0 3rem;
}
.arrow-downward-wrapper {
    margin: 1.5rem 0;
}
.btn-icon-right.small {
    font-size: 0.875rem !important;
}
.side-content-block {
    padding: 1rem 0;
    margin-top: 2rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: rgb(9 30 66 / 25%) 0px 4px 8px -2px, rgb(9 30 66 / 8%) 0px 0px 0px 1px;
}
.btn-h-52 {
    height: 52px;
}

.visible-for-lgd {
    display: none;
}
.visible-for-mdd {
    display: none;
}
.hidden-for-mdd {
    display: block;
}
@media (min-width: 992px) {
    .visible-for-lgd {
        display: block !important;
    }
    .side-content-block {
        margin-left: 1rem;
        margin-top: 0;
    }
}
@media (min-width: 768px) {
    .visible-for-mdd {
        display: block !important;
    }
    .hidden-for-mdd {
        display: none !important;
    }
}
@media (min-width: 568px) {
    .page-header-text {
        flex-flow: initial;
        align-items: center;
    }
}
@media (max-width: 369px) {
    .shift-contact-downward {
        flex: 0 0 auto;
        margin-bottom: 0.5rem;
    }
}
